  <div class="task-list-inner">
    <mat-card-title class="task-list-title">
      {{taskList.title}}
      <mat-card-subtitle *ngIf="taskList.date" class="task-list-subtitle">
        <div class="card-date">Deadline: <strong>{{taskList.date | date:'shortDate'}}</strong></div>
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="!taskList.date" class="task-list-subtitle">
        <div class="card-date">Deadline: <strong>{{today | date:'shortDate'}}</strong></div>
      </mat-card-subtitle>
    </mat-card-title>

    <mat-card-title class="task-list-buttons">
      <button mat-button color="primary" type="button" class="btn-open"
              (click)="openDialog()">
        Open
      </button>
      <button mat-button color="primary" type="button"
              (click)="onDeleteTaskList()">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-card-title>
  </div>
