.container {
  width: 400px;

  .form {
    width: 400px;
  }
  .btn-login {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
  }

  .error {
    color: red;
  }

}
